*{
  font-family: 'Varela Round', sans-serif;
}

html{
  font-size: 1px;
}

body{
  background: #eee;
}

.row1, .row2, .row3 {
  padding: 0;
  margin: 0;
}

.selection{
  min-width: 320rem;
  border-radius: 10rem;
  border: 4rem solid #474340;
}

 h3{
  color: #474340;
  font-size: 40rem;
  line-height: 1;
  margin: 6rem;
}

.or{
  display: inline-block;
  font-size: 30rem;
  margin: 0 30rem;
  vertical-align: sub;
}


.btn{
  background: none;
  font-size: 40rem;
  width: 80rem;
  border: 4rem solid #474340;
}

.btn:hover{
  color:#474340;
  border: 4rem solid #474340;
}

.btn:active, .btn, .btn select{
  outline: none !important;
}

.btnx{
  color: #474340;
  line-height: 1;
}

.btno{
  color: #474340;
  line-height: 1;
}

.pa{
  margin: 40rem auto 120rem auto;
}

.row{
  margin-bottom: 40rem;
}

.board{
  min-width: 320rem;
  max-width: 380rem;
  margin: auto;
}

.lines{
  color: #474340;
  cursor: pointer;
  min-height: 96rem;
  max-width: 96rem;
}

.box00{
  border-right: 4rem solid;
  border-bottom: 4rem solid;
}

.box01{
  border-right: 4rem solid;
  border-bottom: 4rem solid;
}

.box02{
  border-bottom: 4rem solid;
}

.box10{
  border-right: 4rem solid;
  border-bottom: 4rem solid;
}

.box11{
  border-right: 4rem solid;
  border-bottom: 4rem solid;
}

.box12{
  border-bottom: 4rem solid;
}

.box20{
  border-right: 4rem solid;
}

.box21{
  border-right: 4rem solid;
}


.row1, .row2, .row3{
  min-height: 96rem;
}

.alignBE{
  line-height: 92rem;
  margin: 0;
  text-align: center;
}

.lines{
  padding: 0;
  margin 0;
}

.centerIntoPage{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#status{
  margin-top: 30rem;
  font-family: 'Varela Round', sans-serif;
  color: #474340;
}

@media screen and (max-width : 350px) {
  html {
    font-size: .8px;
  }
}
