body{
  background-image: url("") no-repeat;
  background: #666;
  background-size: 100% 100%;
  font-family: 'Montserrat', sans-serif;
}

i{
  font-size: 140px;
  margin: 20px auto;
  color: white;
}

.container{
  background: rgba(255,255,255,.6);
  border: solid 1px #fff;
  width: 300px;
  margin: auto;
  margin: 10px auto;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 10px rgba(0,0,0,.1);
}

#iconArea{
  height: 200px;
}

#textData .col-xs-12{
  border-top: solid 1px #fff;
}

h3{
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  line-height: 3;
}

.convert{
  cursor: pointer;
}

.off{
  color: rgba(255,255,255,.5);
}
